@charset "UTF-8";

:root { -
	-main-green: #07805b;
}

.search-result-container {
	max-width: 1100px;
	margin: auto;
	padding: 20px;
}

.search-item {
	display: flex;
	gap: 20px;
	background: #fff;
	padding: 15px;
	border-radius: 12px;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
	margin-bottom: 15px;
}