@charset "UTF-8";

@import
	url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap')
	;

:root { 
	--main-green: #07805b; 
	--light-cream: #FFFBF0;
}

.cart-container {
	max-width: 1100px;
	margin: auto;
	padding: 20px;
}

.cart-item {
	display: flex;
	gap: 20px;
	background: #fff;
	padding: 15px;
	border-radius: 12px;
	box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
	margin-bottom: 15px;
}
/*
.cart-item img {
	width: 110px;
	border-radius: 8px;
}
*/
.cart-item-info h3 {
	margin: 0;
	font-size: 20px;
}

.cart-summary {
	background: #fff;
	padding: 20px;
	border-radius: 12px;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.btn {
	background: var(- -main-green);
	color: #fff;
	padding: 10px 18px;
	border-radius: 8px;
	text-decoration: none;
}