@charset "UTF-8";

:root { 
	--main-green: #07805b;
}

.filter-panel {
	background: #fff;
	padding: 20px;
	border-radius: 12px;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
	margin-bottom: 20px;
}

.filter-result {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
	gap: 20px;
}