@charset "UTF-8";
.wishlist-container {
    max-width: 1100px;
    margin: 30px auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 22px;
}

.card {
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    transition: .2s;
}

.card:hover {
    transform: translateY(-5px);
}
